<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Aztalan Intranet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="submenu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("News", "News", "Home")</li>
                    <li>@Html.ActionLink("Departments", "Departments", "Home")
                        <ul class="nav navbar-collapse">
                            <li>@Html.ActionLink("Accounting", "Accounting", "Home")</li>
                            <li>@Html.ActionLink("Engineering", "Engineering", "Home")</li>
                            <li>@Html.ActionLink("Manufacturing", "Manufacturing", "Home")</li>
                            <li>@Html.ActionLink("Sales", "Sales", "Home")</li>
                            <li>@Html.ActionLink("Quality Assurance", "Quality", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                    <li>@Html.ActionLink("Charts", "Charts", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aztalan Intranet</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
